language: go

go:
  - 1.9
  - tip

go_import_path: github.com/chai2010/qingcloud-go

before_install:
  - curl -OL https://github.com/google/protobuf/releases/download/v3.2.0/protoc-3.2.0-linux-x86_64.zip
  - unzip protoc-3.2.0-linux-x86_64.zip -d protoc3
  - sudo mv protoc3/bin/* /usr/local/bin/
  - sudo mv protoc3/include/* /usr/local/include/
  - go get github.com/golang/protobuf/protoc-gen-go

script:
  - make generate
  - make test
#  - make dist

#deploy:
#  provider: releases
#  api_key:
#    secure: ...todo...
#  file:
#    - ./bin/qingcloud-cli-windows-amd64.zip
#    - ./bin/qingcloud-cli-linux-amd64.zip
#    - ./bin/qingcloud-cli-darwin-amd64.zip
#  skip_cleanup: true
#  on:
#    tags: true
